<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InventoryManagementsystem1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/InventoryManagementSystem1.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
            <div class="container-fluid">

                <!-- BRAND -->
                <!-- BRAND / LOGO -->
                <a class="navbar-brand d-flex align-items-center gap-2"
                   asp-controller="Home"
                   asp-action="Index">

                    <img src="~/Image/Digitalwold1.png"
                         alt="Digital Wold Logo"
                         height="60" />

                    <span class="fw-bold text-white">
                        Digital Wold
                    </span>

                </a>




                <!-- TOGGLER (☰) -->
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#mainNavbar"
                        aria-controls="mainNavbar"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                

                                <!-- MENU -->
                 <div class="collapse navbar-collapse" id="mainNavbar">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                        <li class="nav-item">
                            <a class="nav-link"
                               asp-controller="Home"
                               asp-action="Index">
                                Home
                            </a>
                        </li>


                                      <li class="nav-item">
                                        <a class="nav-link"
                                           asp-controller="Products"
                                            asp-action="Index">
                                             Products
                                        </a>
                                      </li>

                                        <li class="nav-item">
                                            <a class="nav-link"
                                               asp-controller="Categories"
                                               asp-action="Index">
                                                Category
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link"
                                               asp-controller="Suppliers"
                                               asp-action="Index">
                                                Supplier
                                            </a>
                                        </li>

                      @*   <a class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "Products" ? "active" : "")"
                           asp-controller="Products" asp-action="Index">
                            Products
                        </a> *@



                    </ul>
                 </div>

            </div>
        </nav>


                        
                  

                   


    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer class="footer mt-5 py-3">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <span class="text-muted ps-3">
                © 2026  Inventory System
            </span>

            <a class="text-muted pe-3"
               asp-controller="Home"
               asp-action="Privacy">
                Privacy
            </a>
        </div>
    </footer>






    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
